@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@font-face {
    font-family: thronesFont;
    src: url(Game-of-Thrones.ttf);
}

.image-size {
    width: 300px;
    height: 350px;
}

div.conatiner{
    z-index: 1;

    width: 450px;
}


.jumbobg {
    background-color: black !important;
    opacity: 0.75;
    
}

img {
    padding-top: 5px;
}


.child1 { 
    position:absolute; 
    width:200px; 
    height:200px; 
    z-index:2;
    
}

.opacity {
    position:absolute;
    height: 100%;
    width: 100%;
    right: 2px; 
    z-index:-1; 
    background-color: black;
    opacity: 0.75;
}


h1 {
    font-family: thronesFont !important;
}

h1, .trivia-question, .trivia-answers, .trivia-timer, .startgame {
    color: white !important;
}


.parent {
    position: relative;
    z-index: 1;
  }

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
  }

div.trivia-question, div.trivia-timer {
    margin: 5px;
    font-family: 'Julius Sans One', sans-serif !important;
    font-size: 24px;
}

div.trivia-answers {
    font-family: 'Julius Sans One', sans-serif !important;
    font-size: 10px;
}


/*  This starts the particle CSS - this was just copy and paste */
/* ---- reset ---- */
body {
    margin: 0;
    color: white;

  }
  canvas {
    display: block;
 

  } /* ---- particles.js container ---- */
  #particles-js {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://s15.postimg.cc/hgv8da3gb/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;


  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  